<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MapGalleryEditor vuex</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .slide-small {
            width: 200px;
            height: 100px;
            background-color: chartreuse;
            margin: 10px;
            float: left;
            cursor: grab;
        }

        .map {
            height: 500px;
            width: 500px;
        }
    </style>
</head>
<body>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="https://unpkg.com/sortablejs@1.7.0/Sortable.js"></script>
<script src="https://unpkg.com/vuedraggable@2.16.0/dist/vuedraggable.js"></script>

<script src="MapAnimator.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callk2=initMap&key=AIzaSyBxibPU_2mMsI8c5o0wVeG6uBnxps0c6wE"></script>
<script src="v3_epoly.js"></script>

<div id="app"></div>

<script>
    const data = [
        {
            id: 1,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2018-01-01 01:11:23'),
            modified_at: new Date('2018-01-01 01:11:23'),
            visible: true
        },
        {
            id: 2,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2017-01-01 01:11:23'),
            modified_at: new Date('2017-01-01 01:11:23'),
            visible: true
        },
        {
            id: 3,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2016-01-01 01:11:23'),
            modified_at: new Date('2016-01-01 01:11:23'),
            visible: true
        },
    ];
</script>

<script>
Vue.use(Vuex);

const store = new Vuex.Store({
    state: {
        slides: []
    },
    mutations: {
        setSlides (state, slides) {
            state.slides = slides;
        },
        setExifDate (state, {id, exif_date}) {
            state.slides.find(el => el.id === id).exif_date = new Date(exif_date);
        },
        updateOrder (state, ids) {
            state.slides = ids.reduce((newSlides, id) => {
                newSlides.push(state.slides.find(el => el.id === id))
                return newSlides;
            }, []);
        }
    },
    actions: {
        loadSlides ({commit}) {
            commit('setSlides', data);
        }
    }
});

const SlideSmall = Vue.component('slidesmall', {
    props: ['slide'],
    template: `
        <div class="slide-small">{{ slide.exif_date }} - {{ exif_date2 }}</div>
    `,
    computed: {
        exif_date2() {
            return this.$store.state.slides.find(el => el.id === this.$vnode.key).exif_date
        }
    }
});

const MapForm = Vue.component('mapform', {
    props: ['currentSlide'],
    data: function () {
        return {
            routeFrom: 'Budapest',
            routeTo: 'Pusztamagyaród',
            routeMode: 'DRIVING',
            speed: 500
        }
    },
    computed: {
        // https://stackoverflow.com/questions/846221/logarithmic-slider
        routeSpeed: {
            get() {
                // position will be between 0 and 100
                const minp = 1;
                const maxp = 100;

                // The result should be between 100 an 10000000
                const minv = Math.log(1000);
                const maxv = Math.log(10000000);

                // calculate adjustment factor
                const scale = (maxv-minv) / (maxp-minp);
                const position = parseInt(this.speed);
                return (Math.log(position)-minv) / scale + minp;
            },
            set(value) {
                // position will be between 0 and 100
                const minp = 1;
                const maxp = 100;

                // The result should be between 100 an 10000000
                const minv = Math.log(1000);
                const maxv = Math.log(10000000);

                // calculate adjustment factor
                const scale = (maxv-minv) / (maxp-minp);
                var position = parseInt(value);
                this.speed = Math.exp(minv + scale*(position-minp));
            }
        }
    },
    methods: {
        start() {
            MapAnimator.showRoute({
                from: this.routeFrom,
                to: this.routeTo,
                speed: this.speed,
                mode: this.routeMode,
            }, function (err) {
                alert(err);
            });
        }
    },
    template: `
    <form>
        <label>from: <input v-model="routeFrom" type="text"></label><br>
        <label>to: <input v-model="routeTo" type="text"></label><br>
        <label>speed: <input v-model="routeSpeed" type="range" min="1" max="100"></label><br>
        <label>mode: <select v-model="routeMode">
            <option value="DRIVING" selected>driving</option>
            <option value="FLYING">flying</option>
            <option value="WALKING">walking</option>
        </select></label>

        <button type="button" v-on:click="start">TEST</button>
    </form>
    `,
});

const Map = Vue.component('gmap', {
    template: `
    <div :id="id" class="map"></div>
    `,
    data: function () {
        return {
            id: null
        }
    },
    mounted: function () {
        var that = this;
        this.$nextTick(function () {
            that.id = that._uid;
            MapAnimator.mapdiv = that._uid;
            MapAnimator.animationTriggerEvent = 'center_changed';
            MapAnimator.initialize();
        })
    }
});

const app = new Vue({
    el: '#app',
    store,
    template: `
        <div class="app">
            <div id="map" class="map"></div>
            <!--gmap></gmap-->
            <mapform v-model="currentSlide"></mapform>
            <draggable :options="{group: 'slides'}" v-model="slides">
                <slidesmall v-for="slide in slides" :key="slide.id" v-bind:slide="slide"></slidesmall>
            </draggable>
        </div>
    `,
    computed: {
        slides: {
            get() {
                return this.$store.state.slides
            },
            set(value) {
                this.$store.commit('updateOrder', value.map(el => el.id));
            }
        },
    },
    data: {
        currentSlide: null
    },
    mounted: function () {
        MapAnimator.mapdiv = 'map';
        MapAnimator.animationTriggerEvent = 'center_changed';
        MapAnimator.initialize();
    }

});

</script>

<script>
    store.dispatch("loadSlides");
</script>

</body>
</html>