<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MapGalleryEditor vuex</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body,
        button,
        input,
        select,
        textarea {
            font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        .slide-small {
            width: 150px;
            height: 120px;
            margin: 10px;
            float: left;
            cursor: grab;
        }

        .slide-small img {
            max-height: 120px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
        }

        #app {
            display: flex;
        }
    </style>

</head>
<body>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="https://unpkg.com/sortablejs@1.7.0/Sortable.js"></script>
<script src="https://unpkg.com/vuedraggable@2.16.0/dist/vuedraggable.js"></script>

<script src="MapAnimator.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callk2=initMap&key=AIzaSyBxibPU_2mMsI8c5o0wVeG6uBnxps0c6wE"></script>
<script src="v3_epoly.js"></script>

<div id="app"></div>

<script src="data.js"></script>

<script>
Vue.use(Vuex);

const EventBus = new Vue();
Object.defineProperties(Vue.prototype, {
    $bus: {
        get: function () {
            return EventBus
        }
    }
});

const store = new Vuex.Store({
    state: {
        slides: [],
        currentSlide: null
    },
    mutations: {
        setSlides (state, slides) {
            state.slides = slides;
        },
        setCurrentSlide (state, slide) {
            state.currentSlide = slide;
        },
        updateSlide (state, slide) {
            for (let i in slide) {
                state.currentSlide[i] = slide[i];
            }
        },
        setExifDate (state, {id, exif_date}) {
            state.slides.find(el => el.id === id).exif_date = new Date(exif_date);
        },
        updateOrder (state, ids) {
            state.slides = ids.reduce((newSlides, id) => {
                newSlides.push(state.slides.find(el => el.id === id))
                return newSlides;
            }, []);
        }
    },
    actions: {
        loadSlides ({commit}, data) {
            commit('setSlides', data);
        }
    }
});

const SlideSmall = Vue.component('slidesmall', {
    props: ['slide'],
    template: `
        <div class="slide-small" v-on:click="setCurrent">
            <template v-if="slide.from">
                {{ slide.from }} - {{ slide.to }}
            </template>
            <template v-else>
                <div class="imgholder" style="display: flex; align-items: center; justify-content: center; height: 100%">
                    <img :src="slide.thumbnail" :title="slide.filename">
                </div>
            </template>
        </div>
    `,
    computed: {
        exif_date2() {
            return this.$store.state.slides.find(el => el.id === this.$vnode.key).exif_date
        }
    },
    methods: {
        setCurrent: function () {
            this.$store.commit('setCurrentSlide', this.slide);
        }
    }
});

const LogSlider = Vue.component('logslider', {
    // https://stackoverflow.com/questions/846221/logarithmic-slider
    props: {
        value: {
            type: Number
        },
        minpos: {
            default: 1,
            type: Number
        },
        maxpos: {
            default: 100,
            type: Number
        },
        minval: {
            default: Math.log(1000),
            type: Number
        },
        maxval: {
            default: Math.log(10000000),
            type: Number
        },
    },
    template: `<input class="input" type="range" :min="minpos" :max="maxpos" v-model="realValue">`,
    computed: {
        scale: function () {
            // calculate adjustment factor
            return (this.maxval - this.minval) / (this.maxpos - this.minpos);
        },
        realValue: {
            get() {
                const position = parseInt(this.value);
                return (Math.log(position) - this.minval) / this.scale + this.minpos;
            },
            set(value) {
                var position = parseInt(value);
                let v = Math.exp(this.minval + this.scale * (position - this.minpos));
                this.$emit('input', v);
            }
        }
    }
});

const MapForm = Vue.component('mapform', {
    computed: {
        routeFrom: {
            get() {
                return this.$store.state.currentSlide.from;
            },
            set(value) {
                this.$store.state.currentSlide.from = value;
            }
        },
        routeTo: {
            get() {
                return this.$store.state.currentSlide.to;
            },
            set(value) {
                this.$store.state.currentSlide.to = value;
            }
        },
        routeSpeed: {
            get() {
                return this.$store.state.currentSlide.speed;
            },
            set(value) {
                this.$store.state.currentSlide.speed = value;
            }
        },
        routeMode: {
            get() {
                return this.$store.state.currentSlide.mode;
            },
            set(value) {
                this.$store.state.currentSlide.mode = value;
            }
        }
    },
    methods: {
        showRoute() {
            this.$bus.$emit('map-showroute');
        }
    },
    template: `
    <form v-if="this.$store.state.currentSlide && this.$store.state.currentSlide.hasOwnProperty('from')">
        <div class="field">
            <label class="label">From</label>
            <div class="control">
                <input class="input" type="text" placeholder="Start location" v-model="routeFrom">
            </div>
        </div>
        <div class="field">
            <label class="label">To</label>
            <div class="control">
                <input class="input" type="text" placeholder="End location" v-model="routeTo">
            </div>
        </div>
        <div class="field">
            <label class="label">Speed</label>
            <div class="control">
                <logslider v-model="routeSpeed"/>
            </div>
        </div>
        <div class="field">
            <label class="label">Travel mode</label>
            <div class="select">
                <select v-model="routeMode">
                    <option value="DRIVING" selected>driving</option>
                    <option value="FLYING">flying</option>
                    <option value="WALKING">walking</option>
                </select>
            </div>
        </div>

        <div class="control">
            <button class="button is-link" type="button" v-on:click="showRoute">test</button>
        </div>
    </form>
    `,
});

const GoogleMap = Vue.component('googleMap', {
    template: `
    <div :id="id"></div>
    `,
    data: function () {
        return {
            id: null
        }
    },
    computed: {
        currentSlide: {
            get: function () {
                return this.$store.state.currentSlide;
            }
        }
    },
    mounted: function () {
        let that = this;
        that.id = that._uid;
        this.$nextTick(function () {
            MapAnimator.mapdiv = that._uid;
            MapAnimator.animationTriggerEvent = 'center_changed';
            MapAnimator.initialize();
        })

        this.$bus.$on('map-showroute', (event) => {
            MapAnimator.showRoute({
                from: this.currentSlide.from,
                to: this.currentSlide.to,
                speed: this.currentSlide.speed,
                mode: this.currentSlide.mode,
            }, function (err) {
                alert(err);
            });
        })
    },
    watch: {
        currentSlide: function (newSlide, oldSlide) {
            if (!oldSlide || newSlide.id !== oldSlide.id) {
                MapAnimator.stopAnimation();
                if (newSlide.from) {
                    MapAnimator.showRoute(newSlide, function(err){console.log(err)});
                }
            }
        }
    }
});

const app = new Vue({
    el: '#app',
    store,
    template: `
        <div class="app" style="display: flex; flex-direction: column; height: 100%">
            <div id="editor" style="flex-grow: 1; display: flex" v-show="{ hasCurrentSlide }">
                <googleMap style="flex-grow: 1"></googleMap>
                <mapform></mapform>
            </div>
            <div id="slides" style="overflow-x: scroll">
                <draggable :options="{group: 'slides'}" v-model="slides" id="slideholder" v-bind:style="{ width: (hasCurrentSlide ? '900000px' : '100%') }">
                    <slidesmall v-for="slide in slides" :key="slide.id" v-bind:slide="slide"></slidesmall>
                </draggable>
            </div>
        </div>
    `,
    computed: {
        slides: {
            get() {
                return this.$store.state.slides
            },
            set(value) {
                this.$store.commit('updateOrder', value.map(el => el.id));
            }
        },
        hasCurrentSlide() {
            return this.$store.state.currentSlide !== null && this.$store.state.currentSlide.hasOwnProperty('from');
        }
    },
});

</script>

<script>
    store.dispatch("loadSlides", data);
</script>

</body>
</html>