<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MapGalleryEditor vuex</title>

    <style>
        .slide-small {
            width: 200px;
            height: 100px;
            background-color: chartreuse;
            margin: 10px;
            float: left;
            cursor: grab;
        }
    </style>
</head>
<body>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="https://unpkg.com/sortablejs@1.7.0/Sortable.js"></script>
<script src="https://unpkg.com/vuedraggable@2.16.0/dist/vuedraggable.js"></script>

<div id="app"></div>

<script>
    const data = [
        {
            id: 1,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2018-01-01 01:11:23'),
            modified_at: new Date('2018-01-01 01:11:23'),
            visible: true
        },
        {
            id: 2,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2017-01-01 01:11:23'),
            modified_at: new Date('2017-01-01 01:11:23'),
            visible: true
        },
        {
            id: 3,
            filename: 'lol.jpg',
            path: 'file://data/lol.jpg',
            exif_date: new Date('2016-01-01 01:11:23'),
            modified_at: new Date('2016-01-01 01:11:23'),
            visible: true
        },
    ];
</script>

<script>
Vue.use(Vuex);

const store = new Vuex.Store({
    state: {
        slides: []
    },
    mutations: {
        setSlides (state, slides) {
            state.slides = slides;
        },
        setExifDate (state, {id, exif_date}) {
            state.slides.find(el => el.id === id).exif_date = new Date(exif_date);
        },
        updateOrder (state, ids) {
            state.slides = ids.reduce((newSlides, id) => {
                newSlides.push(state.slides.find(el => el.id === id))
                return newSlides;
            }, []);
        }
    },
    actions: {
        loadSlides ({commit}) {
            commit('setSlides', data);
        }
    }
});

const SlideSmall = Vue.component('slidesmall', {
    props: ['slide'],
    template: `
        <div class="slide-small">{{ slide.exif_date }} - {{ exif_date2 }}</div>
    `,
    computed: {
        exif_date2() {
            return this.$store.state.slides.find(el => el.id === this.$vnode.key).exif_date
        }
    }
});

const app = new Vue({
    el: '#app',
    store,
    template: `
        <div class="app">
            <draggable :options="{group: 'slides'}" v-model="slides">
                <slidesmall v-for="slide in slides" :key="slide.id" v-bind:slide="slide"></slidesmall>
            </draggable>

        </div>
    `,
    computed: {
        slides: {
            get() {
                return this.$store.state.slides
            },
            set(value) {
                this.$store.commit('updateOrder', value.map(el => el.id));
            }
        }
    },

});

</script>

<script>
    store.dispatch("loadSlides");
</script>

</body>
</html>